In [1]:
import pandas as pd

In [2]:
%ls old

res0xp0.csv      res14xp0fct.csv  res20xp0.csv     res4xp0.csv
res0xp1.csv      res15xp0src.csv  res27xp0src.csv  res5xp0.csv
res0xp2.csv      res16xp0fct.csv  res28xp0.csv     res6xp0.csv
res10xp0fct.csv  res17xp0fct.csv  res29xp0obj.csv  res7xp0.csv
res11xp0src.csv  res18xp0.csv     res2xp0.csv      res8xp0src.csv
res12xp0obj.csv  res19xp0.csv     res2xp1.csv      res9xp0obj.csv
res13xp0.csv     res1xp0.csv      res3xp0.csv

In [36]:
name = "res9xp0obj.csv"
csv = pd.read_csv("old/"+name, sep=";")
csv = csv.drop(["NORMA"], axis=1)
intv = f"INTERVAL:{csv['INTERVAL'].iloc[0]}"
csv['INTERVAL'] = ""
csv = csv.rename(columns={'INTERVAL':intv})
csv.to_csv(name, sep=";", columns=csv.columns, index=False)

In [11]:
csv

,TYPEG,NB_OBJ,NB_SRC,NB_FL,NB_FU,NBF,TRUST,SF,OF,TRUTH,INTERVAL:40-44/45-49/,PRC_50-54
0,ncpr,5,10,4,4,20,40,"9,19-5,17-2,5,10,17-13,17-5,9,15,17-11,13-2,16...","0,1,2,3-4,5,6,7-8,9,10,11-12,13,14,15-16,17,18,19",2-5-9-13-17,,NaN
1,ncpr,5,10,4,4,20,42,"3,8,15-0,7,9,12,17-5,9-0,5,14-4-3,5,14,16-1,5,...","0,1,2,3-4,5,6,7-8,9,10,11-12,13,14,15-16,17,18,19",1-5-9-12-16,,NaN
2,ncpr,5,10,4,4,20,42,"1,10,13-2,7,11,14,19-0,6,17-6,16-3-3,7,9,12,16...","0,1,2,3-4,5,6,7-8,9,10,11-12,13,14,15-16,17,18,19",3-4-9-12-16,,NaN
3,ncpr,5,10,4,4,20,40,"9,18-2,5,12,18-4,8,15,19-1,4,18-12,18-2,4,10-3...","0,1,2,3-4,5,6,7-8,9,10,11-12,13,14,15-16,17,18,19",1-4-10-12-18,,NaN
4,ncpr,5,10,4,4,20,40,"1,7,10,14-3,5,11,13,19-1,5,11,13,16-5,9,13,16-...","0,1,2,3-4,5,6,7-8,9,10,11-12,13,14,15-16,17,18,19",2-5-9-13-18,,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,ncpr,5,10,4,4,20,48,"5,14,16-3,6,12,19-0-0,4,10,13,17-0,14,17-10,14...","0,1,2,3-4,5,6,7-8,9,10,11-12,13,14,15-16,17,18,19",0-4-10-14-17,,NaN
1996,ncpr,5,10,4,4,20,46,"8,19-3,4,8,14-0,12-0,4,13-1,4,8,13,16-4,8,12-0...","0,1,2,3-4,5,6,7-8,9,10,11-12,13,14,15-16,17,18,19",0-4-8-13-16,,NaN
1997,ncpr,5,10,4,4,20,48,"11,15-6,15,19-8,17-0,15,19-1,5,11,19-19-0,5,11...","0,1,2,3-4,5,6,7-8,9,10,11-12,13,14,15-16,17,18,19",0-5-11-15-19,,NaN
1998,ncpr,5,10,4,4,20,46,"1,10-7,9-1,6,8,13,16-9,19-8,14,16-1,5,8-1,6,8,...","0,1,2,3-4,5,6,7-8,9,10,11-12,13,14,15-16,17,18,19",1-6-8-14-16,,NaN
1999,ncpr,5,10,4,4,20,46,"1,10,17-4,11,15-4,8,15-0,4,15,18-0,4,8,17-5,11...","0,1,2,3-4,5,6,7-8,9,10,11-12,13,14,15-16,17,18,19",0-4-11-15-17,,NaN